In [5]:
import pandas as pd
import numpy as np
import os

In [7]:
df = pd.read_csv("/home/alexg/Bedu/Project/Dataframe/ks_df_modified_python2.csv")
df.count()

ID                  374853
name                374853
category            374853
main_category       374853
currency            374853
deadline            374853
goal                374853
launched            374853
pledged             374853
state               374853
backers             374853
country             374853
usd pledged         374853
usd_pledged_real    374853
usd_goal_real       374853
dtype: int64

In [8]:
include =['object', 'float']
desc=df.describe(include = include)
desc

,name,category,main_category,currency,deadline,goal,launched,pledged,state,country,usd pledged,usd_pledged_real,usd_goal_real
count,374853,374853,374853,374853,374853,3.748530e+05,374853,3.748530e+05,374853,374853,3.748530e+05,3.748530e+05,3.748530e+05
unique,372061,159,15,14,3164,NaN,374297,NaN,5,22,NaN,NaN,NaN
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08,NaN,2013-09-05 22:16:16,NaN,failed,US,NaN,NaN,NaN
freq,13,22310,62694,292618,702,NaN,2,NaN,197611,292618,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,4.952381e+04,NaN,9.750720e+03,NaN,NaN,7.036934e+03,9.121069e+03,4.586378e+04
std,NaN,NaN,NaN,NaN,NaN,1.189373e+06,NaN,9.601182e+04,NaN,NaN,7.864089e+04,9.132054e+04,1.158778e+06
min,NaN,NaN,NaN,NaN,NaN,1.000000e-02,NaN,0.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,1.000000e-02
25%,NaN,NaN,NaN,NaN,NaN,2.000000e+03,NaN,3.100000e+01,NaN,NaN,1.698000e+01,3.100000e+01,2.000000e+03
50%,NaN,NaN,NaN,NaN,NaN,5.500000e+03,NaN,6.200000e+02,NaN,NaN,3.948900e+02,6.247000e+02,5.500000e+03
75%,NaN,NaN,NaN,NaN,NaN,1.650000e+04,NaN,4.080000e+03,NaN,NaN,3.034740e+03,4.051000e+03,1.600000e+04
max,NaN,NaN,NaN,NaN,NaN,1.000000e+08,NaN,2.033899e+07,NaN,NaN,2.033899e+07,2.033899e+07,1.663614e+08